

#footer{
	-fx-background-color: white  ;
}



#textFieldSearch:focused{
	 -fx-focus-color: transparent;
	 -fx-border-color: #004263;
	-fx-border-width: 1.5;
}



.tableView  {
  -fx-focus-color: transparent;
  -fx-border-color: #016699;
  -fx-border-width: 2.0;
  -fx-padding: 0.0;
  -fx-selection-bar: #d1d1d1;
}
.tableView   .table-column {
  -fx-alignment: CENTER;
}
.tableView   > .column-header-background {
    
    -fx-text-fill: #999999;
}
.tableView  :selected-row {
    -fx-background-color: red ;
}
.tableView   .column-header .label{ -fx-font-family: 'Roboto Medium';  -fx-text-fill: white; }
.tableView   .column-header .row{  -fx-text-fill: white; }
.tableView   .column-header {   -fx-background-color: #016699; }
.tableView   .arrow {  -fx-mark-color: white ; }  
#message1{
	-fx-font-family: 'Roboto Bold';
	 -fx-text-fill: #999999;
	 -fx-font-size: 50.0;
}
#message2{
	-fx-font-family: 'Roboto Medium';
	 -fx-text-fill: #999999;
	 -fx-font-size: 30.0;
}


.whiteFont{
	 -fx-text-fill: #FFFFFF;
}

.flat-btn {
	-fx-font-family: 'Roboto Medium';
    -fx-background-radius: 0.0;
    -fx-background-color: #016699;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0.0;
    -fx-border-width: 0.0;
    -fx-padding: 0.3em;
    -fx-cursor: hand;
}

.flat-btn:focused {
	-fx-border-color: #004263;
	-fx-border-width: 1.5;
}

.flat-btn:hover {
	-fx-background-color: derive(#016699 ,20.0%);
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0,0.3), 0.0,0.0,1.0,1.0); 
}

.flat-btn:pressed {
  -fx-background-color: derive(#016699 ,50.0%);
}


.flat-choiseBox{
	-fx-font-family: 'Roboto Medium';
    -fx-background-radius: 0.0;
    -fx-background-color: #016699;
    -fx-text-fill: red;
    -fx-border-radius: 0.0;
    -fx-border-width: 0.0;
    -fx-padding: 0.0em;
    -fx-cursor: hand;
}


.flat-choiseBox:focused {
	-fx-border-color: #004263;
	-fx-border-width: 1.5;
}

.flat-choiseBox:hover {
	-fx-background-color: derive(#016699 ,20.0%);
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0,0.3), 0.0,0.0,1.0,1.0); 
}

.flat-choiseBox:pressed {
  -fx-background-color: derive(#016699 ,50.0%);
}

