.root {
		
	-fx-font-smoothing-type: gray;
	-fx-background-color: #FFFFFF;
	-fx-font-family: 'Roboto Medium';
	-camelus-blue : #0077B5;
}
.font-awesome{
	-fx-font-smoothing-type: gray;
	-fx-font-size: 17.0px;
}

#lblClose{
	-fx-background-color: #0077B5;
}

#lblClose:hover{
	-fx-background-color: #c13636;
}

#closeFont{
	-fx-text-fill: white;
	-fx-font-smoothing-type: gray;
}

#lblClose:hover #closeFont{
	-fx-text-fill: white;
	-fx-font-smoothing-type: gray;
}

#lblClose:pressed{
	-fx-background-color: #9e2929;
}

#lblClose:pressed #closeFont{
	-fx-text-fill: white;
	-fx-font-smoothing-type: gray;
}

.flat-btn {
    -fx-background-radius: 0.0;
    -fx-background-color: -camelus-blue;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0.0;
    -fx-border-width: 0.0;
    -fx-cursor: hand;
}

.flat-btn:hover {
	-fx-background-color: derive(-camelus-blue ,20.0%);
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0,0.3), 0.0,0.0,1.0,1.0); 
}

.flat-btn:pressed {
  -fx-background-color: derive(-camelus-blue ,50.0%);
}
#gridPane{
	-fx-border-color: #46474c;
	-fx-border-width: 2.0px;
}