/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
		
	-fx-font-smoothing-type: gray;
	-fx-background-color: #FFFFFF;
	-fx-font-family: 'Roboto Medium';
	
}

.text-input {
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
}

.text-input:focused {
	
	-fx-border-color: #03A9F4;
	-fx-border-style: none;
	-fx-border-width: 2.0;
	
}
.text-input-error {
	-fx-border-color: red;
		-fx-border-width: 2.0;
}
#header {
	
	-fx-background-color: #F5F5F5;
}

#footer {
	
	-fx-background-color: #F5F5F5;
	
}

#toolbar {
	
	-fx-background-color: #F5F5F5;
	
}

.tbbtn {
	-fx-border-color: #303f9f;
	-fx-border-width: 1.0;
    -fx-padding: 5.0 22.0 5.0 22.0; 
    -fx-background-radius: 0.0;
    -fx-background-color: #0077B5;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0.0;
    -fx-cursor: hand;
}

.tbbtn:hover {
    -fx-background-color: #00A0DC;
}

.flat-btn {
	-fx-padding: 5.0 22.0 5.0 22.0; 
    -fx-background-radius: 0.0;
    -fx-background-color: #0077B5;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 0.0;
    -fx-cursor: hand;
}

.flat-btn:hover {
	-fx-background-color: #03A9F4;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0,0.3), 0.0,0.0,1.0,1.0); 
}

.flat-btn:pressed {
  -fx-background-color:#BBDEFB;
}
.font-awesome{
	-fx-font-size: 17.0px;
}



#lblClose:hover{
	-fx-background-color: #c13636;
}

#lblMinimize:hover{
	-fx-background-color: #cecece;
}

#lblHelp:hover{
	-fx-background-color: #cecece;
}


#lblClose:hover #closeFont{
	-fx-text-fill: white;
}

#lblMinimize:hover #minimizeFont{
	-fx-text-fill: black;
}

#lblHelp:hover #helpFont{
	-fx-text-fill: black;
}


#lblClose:pressed{
	-fx-background-color: #9e2929;
}

#lblMinimize:pressed{
	-fx-background-color: #0077B5;
}

#lblHelp:pressed{
	-fx-background-color: #0077B5;
}

#lblClose:pressed #closeFont{
	-fx-text-fill: white;
}

#lblMinimize:pressed #minimizeFont{
	-fx-text-fill: white;
}

#lblHelp:pressed #helpFont{
	-fx-text-fill: white;
}

#lblTitle{
	-fx-text-fill: black;
	-fx-font-size: 16.0px;	
}

.footerFont{
	-fx-font-size: 14.0px;
}

#facebookFont:hover{
	-fx-text-fill: #3b5998;
}

#linkedinFont:hover{
	-fx-text-fill: #0077B5;
}

#twitterFont:hover{
	
	-fx-text-fill: #4099ff;
}
.tooltip{
	-fx-border-width: 1.0;
	-fx-border-color: gray;
	-fx-font-size: 14.0;
	-fx-padding: 5.0,5.0,5.0,5.0;
	-fx-background-radius: 0.0;
	-fx-border-radius: 0.0;
	-fx-background-color: #F5F5F5;
	-fx-text-fill: #727272;
}
#parent{
	-fx-border-width: 1.0;
	-fx-border-color: gray;
}

.flat-btn .context-menu .label{
	-fx-text-fill: black;
}
.flat-btn  .label{
	-fx-alignment: center ;
	-fx-text-fill: white;
}